* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Display", sans-serif;
  font-family: "Spline Sans Mono", monospace;
}

.titulo {
  background-color: rgb(24, 24, 106);
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background: linear-gradient(to right, rgb(24, 24, 106) 0% 25%, white 75% 100%);
}

.subtitulo {
  background-color: rgb(24, 24, 106);
  color: white;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: linear-gradient(to right, black 0% 40%, white 60% 100%);
}

.back-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 60vh;
  margin-bottom: 1rem;
  filter: drop-shadow(4px 4px 4px);
}

p {
  text-align: justify;
}

.section-i {
  padding: 1rem;
}

header {
  background-color: black;
  color: white;
  padding: 1rem;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header .logo {
  width: 50px;
  height: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

a {
  color: white;
  text-decoration: none;
}

@media (min-width: 580px) {
  header, ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.footer__section {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.footer h4, .footer h5 {
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 580px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: top;
  }
}
.contacto {
  display: flex;
  flex-direction: column;
}
.contacto .subtitulo-contacto {
  background-color: black;
  color: white;
  font-size: 1rem;
}

.footercontacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  gap: 1rem;
  margin-top: 1rem;
}
.footercontacto__section {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.footercontacto h4, .footercontacto h5 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.footercontacto a {
  color: white;
  text-decoration: none;
  text-align: center;
}

@media (min-width: 580px) {
  .footercontacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: top;
  }
  .contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
  }
  .contacto__uk {
    display: flex;
    flex-direction: column;
  }
  .contacto__usa {
    display: flex;
    flex-direction: column;
  }
}
.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.video-container .back-video {
  height: 100%;
  width: 100%;
  max-height: 90vh;
  max-width: 70svw;
}

.kyno {
  font-family: "Lexend Deca", sans-serif;
  font-family: "Noto Sans Display", sans-serif;
  font-family: "Spline Sans Mono", monospace;
}

.title {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 7vw;
}

.cover {
  object-fit: cover;
  width: 100%;
  filter: brightness(50%);
}

.cover-container {
  padding: 0;
}

.presentation {
  position: relative;
}
.presentation__text {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  position: absolute;
  bottom: 5%;
  margin-left: 1rem;
  margin-right: 1rem;
}
.presentation .name-1 {
  color: white;
  font-size: 1.5rem;
  font-family: "Lexend Deca", sans-serif;
}
.presentation .name-2, .presentation .name-3 {
  color: white;
  font-size: 1rem;
  font-family: "Lexend Deca", sans-serif;
}
.presentation .sinopsis {
  color: white;
  font-size: 100%;
  text-align: justify;
  font-family: "Lexend Deca", sans-serif;
}

.presentation-text {
  position: absolute;
  bottom: 10%;
  margin: 1rem;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}
.presentation2 ul, .presentation2 li {
  font-size: calc(0.5rem + 1vw);
  margin: 1rem;
  font-family: "Lexend Deca", sans-serif;
}
.presentation2 span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;
  font-size: calc(0.5rem + 0.7vw);
  font-style: italic;
}
.presentation2 h4 {
  font-family: "Cormorant Garamond", serif;
  font-size: calc(1rem + 2vw);
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.presentation2 i {
  color: black;
}
.presentation2 .list-container {
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}
.presentation2 .prize {
  font-family: "Cormorant Garamond", serif;
  font-size: calc(0.5rem + 2vw);
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.presentation3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}
.presentation3 ul, .presentation3 li {
  font-size: calc(0.5rem + 1vw);
  margin: 1rem;
  font-family: "Lexend Deca", sans-serif;
}
.presentation3 span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;
  font-size: calc(0.5rem + 0.7vw);
  font-style: italic;
}
.presentation3 h5 {
  font-family: "Cormorant Garamond", serif;
  font-size: calc(1rem + 2vw);
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container-trailer {
  align-items: center;
  justify-content: center;
}
.container-trailer .trailer {
  height: 30vw;
  width: 50vw;
}

.reparto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.reparto .card {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  background: rgb(241, 240, 240);
  margin: 1rem;
}
.reparto .card__retrato {
  height: 200px;
  width: 150px;
  filter: grayscale(100%);
}
.reparto .card__nombre {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.7rem;
  padding: 0.5rem;
}
.reparto .card__rol {
  font-size: 0.7rem;
  font-family: "Lexend Deca", sans-serif;
  padding: 0.5rem;
}

@media (max-width: 660px) {
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: calc(0.4rem + 0.5vw);
  }
}
@media (min-width: 930px) {
  .reparto {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 480px) {
  .presentation2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .container-trailer {
    align-items: center;
    justify-content: center;
  }
  .container-trailer .trailer {
    height: 40vw;
    width: 80vw;
  }
}

/*# sourceMappingURL=style.css.map */
