$color-azul: rgb(24, 24, 106);
$color-negro: black;
$color-blanco: white;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
    font-family: 'Spline Sans Mono', monospace;
}