$color-azul: rgb(24, 24, 106);
$color-negro: black;
$color-blanco: white;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

@mixin colorhf{
    background-color: $color-negro;
    color: $color-blanco;
}

@mixin text{
    font-size: calc(1rem + 1.5vw);    
    margin-bottom: 2rem;
    text-align: center;
}

.titulo{
    font-family: 'Cormorant Garamond', serif;
    font-size: calc(1.5rem + 2vw);
    font-style: italic;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.subtitulo{
    @include text;
}

.back-image{
    height: 50%;
    object-fit: cover;
    width: 100%;
    margin-bottom: 1rem;
    filter: drop-shadow(4px 4px 4px);
}

p{
    text-align: justify;
    font-size: calc(0.5rem + 0.7vw);
}

.section-i{
    padding: 1rem;
}
