$color-azul: rgb(24, 24, 106);
$color-negro: black;
$color-blanco: white;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
    font-family: 'Spline Sans Mono', monospace;
}

@mixin colorhf{
    background-color: $color-negro;
    color: $color-blanco;
}

@mixin color{
    background-color: $color-azul;
    color: $color-blanco;
}

.titulo{
    @include color;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.subtitulo{
    @include color;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.back-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 60vh;
}

p{
    text-align: justify;
}

.section-i{
    padding: 1rem;
}
