.footer{
    @include colorhf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    &__section{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    h4, h5{
        font-size: 1.5rem;
        text-align: center;
        font-family: 'Lexend Deca', sans-serif;
    }
}

@media (min-width: 580px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
        align-items: top;
    }
}



